/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}


 GENERAL

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);
  position: relative;
}

header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

header #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 1;
}

header #logo .icon {
  padding-right: .25em;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}


/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: right;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}


/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1;
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
}

.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.05;
  transition: .5s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

input.date-pick-input {
    cursor: pointer;
    text-transform: capitalize;
    -moz-user-select: -moz-none !important;
    -o-user-select: none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    user-select: none !important;
    text-align: center;
}


.date-pick-input:focus {
  box-shadow: unset;
}

.date-pick-input.active {
  border: none;
  border-top: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius:.25rem;
  border-top-right-radius:.25rem;
}

.month-pick-form {
  display: none;
  background-color: #fff;
  /*box-sizing: border-box;*/
  /*border-radius-bottom: .25rem;*/
  /*border-left: 1px solid #ced4da;*/
  /*border-right: 1px solid #ced4da;*/
  /*border-bottom: 1px solid #ced4da;*/
  /*border-bottom-left-radius: .25rem;*/
  /*border-bottom-right-radius: .25rem;*/
}

.month-pick-form .header {
  min-height: 35px;
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
}

.month-pick-form .header .col-center>span {
  line-height: 35px;
}

.month-pick-form .col-start {
  padding-left: 0;
}

.month-pick-form .col-end {
  padding-right: 0;
}

.month-pick-form .col-start .icon,
.month-pick-form .col-end .icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.month-pick-form.active {
  display: block;
}

.months-container,
.mondays-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  flex-wrap: wrap;
  min-height: 100%;
  margin: 0 0 2px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  /*padding-right: 1px;*/
}

.mondays-container {
    flex-wrap: nowrap;
    width: auto;
}

.month-cell,
.week-cell {
  min-width: 0px;
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  position: relative;
  min-height: 70px;

}

.month-cell.selected {
    background-color: rgba(211, 249, 255,.4);
}

.month-cell.selected:before {
    border-color: rgba(45, 212, 239,.5);
    z-index: 1;
}

.week-cell {
  cursor: default;
  right: -1px;
  bottom: -1px;
}

.week-cell.selected {
    background-color: rgba(255, 0, 0, .18);
    /*border: 1px solid rgba(255, 0, 0);*/


}
.mondays-container {
  position: relative;
}
.month-cell:before,
.week-cell:before {
    position: absolute;
    top: 0;
    left: 0;
    right: -1px;
    bottom: -1px;
    border: 1px solid #ddd;
    content: "";
    text-decoration: inherit;
    vertical-align: inherit;
}

.week-cell.selected:before {
  border-color: red;
  z-index: 3;
}

.week-cell {
  right: 1px;
  box-sizing: border-box;
}

.month-cell,
.week-cell {
    text-transform: capitalize;
}

.month-pick-form .col-center span{
  text-transform: capitalize;
}

.block-weeks-container {
  width: 100%;
}
